*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 80px;
    background-color: #fff;
    min-height: 100vh;
}
header h1{
    letter-spacing: 1.5px;
    word-spacing: 1px;
    font-style: italic;
    font-weight: 500;
    margin-bottom: 20px;
    color: #333;
}
main{
    border: 1px solid #ccc;
    height: 500px;
    width: 450px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 6px 10px rgba(0,0,0,0.05);
}
form div{
    width: 100%;
    margin-bottom: 10px;
}
form label{
    letter-spacing: 1.5px;
    color: #333;

}
form input{
    display:block;
    font-style: italic;
    width: 100%;
    padding: 15px;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 16px;
    border: 1px solid #ccc;
}
form input:hover{
    border-color: grey;
}
input:focus{
    border-color: blue;
    outline: none;
    box-shadow: 0 0 3px rgba(0,0,255,0.3);
}
button{
    padding: 10px;
    margin: 10px;
    width: 150px;
    background-color: blue;
    color: white;
    font-weight: 400;
    border: none;
    outline: none;
    border-radius: 10px;
    letter-spacing: 2px;
    word-spacing: 1px;
    margin-left: 30%;
    cursor: pointer;
}
.error{
    color: red;
    font-style: italic;
    font-size: 14px;
    display: block;
    margin-top: 5px;
}