*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    height: 100vh;
    width: 100%;
    background-color: rgb(245, 239, 231);
}
img{
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#image-container{
    padding: 20px;
    margin-bottom: 20px;
    gap: 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
#image-container img:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}
@media(max-width:1024px){
    #image-container{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media(max-width:768px){
    #image-container{
        grid-template-columns: repeat(2,1fr);
    }
}
@media(max-width:480px){
    #image-contianer{
        grid-template-columns: 1fr;
    }
}