body{
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    color: white;
    background-color: black;
    padding: 20px;
    margin: 20px;
    font-size: 16px;
    letter-spacing: 2px;
    word-spacing: 2px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}
button:hover{
    font-size: 17px;
    color: #ccc;
    background-color: #140f0f;
}