/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    display: flex;
    flex-direction: column;
}
form div{
    margin-bottom: 15px;
    width: 100%;
}
#contact-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
h1{
    margin-top: 20px;
    letter-spacing: 1px;
}
p{
    border: 1px dashed grey;
    width: 80%;
    padding: 15px;
    text-align: center;
    letter-spacing: 1px;
    word-spacing: 1px;
}
form{
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    width: 90%;
}
form:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    transition: box-shadow 0.3s ease-in-out;
}
form input{
    display: inline-block;
    padding: 10px;
    font-size: 17px;
    width: 100%;

}
form input,
form textarea{
    border-radius: 8px;
    border: 1px solid #ccc;
}
form input:focus,
form textarea:focus{
    border: 2px solid #0078ff;
    outline: none;
    box-shadow: 0 0 5px rgba(0,120,255,0.3);
}
#form-btn{
    padding: 8px 20px;
    background-color: blue;
    color: white;
    font-size: 16px;
    letter-spacing: 0.5px;
    border: none;
    border-radius: 10px;
    outline: none;
    margin-left: 35%;
}
textarea{
    padding: 10px;
    resize: vertical;
    font-size: 16px;
}
#form-btn:hover{
    background-color: rgba(0, 0, 255, 0.822);
    color: #fafafa;
    font-size: 17px;
} */













































*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    display: flex;
    flex-direction: column;
}
#contact-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
h1{
    text-align: center;
    letter-spacing: 1px;
    word-spacing: 1px;
    padding: 10px;
}
p{
    border: 1px dashed #333;
    width: 80%;
    padding: 10px;
    letter-spacing: 1px;
    word-spacing: 1px;
    text-align: center;
}
form{
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 10px;
    max-width: 500px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
form input{
    display: block;
    padding: 10px;
    width: 100%;
    margin: 5px;
    border: #ccc;
    border: 1px solid #ccc;
    font-size: 16px;
    border-radius: 8px;
}
form div{
    width: 100%;
    margin-bottom: 15px;
}
#form-btn{
    /* width: 120px; */
    padding: 10px;
    margin: 10px;
    background-color: blue;
    color: white;
    border: none;
    outline: #ccc;
    letter-spacing: 1px;
    border-radius: 8px;
    margin-left: 35%;
    cursor: pointer;
    font-size: 15px;
}
#form-btn:hover{
    background-color: rgba(0, 0, 255, 0.822);
    column-rule: white;
    font-size: 16px;
}
form input:hover,
form textarea:hover{
       border: 2px solid #0078ff;
    outline: none;
    box-shadow: 0 0 5px rgba(0,120,255,0.3);
}
