*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body, html{
    width: 100%;
    height: 100vh;
    background-color: #fafafa;
    color: #333;
    display: flex;
    flex-direction: column;
}
header{
    margin: 20px;
    text-align: center;
    letter-spacing: 2px;
    word-spacing: 2px;
}
header p{
    padding: 10px;
    margin-top: 10px;
    border:  1px dashed grey;
}
main{
    flex: 1;
    display: flex;
}
#container{
    flex: 1;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding: 20px;
    margin: 0 40px;
    height: 100%;
    gap: 20px;
}
#left-container{
    width: 10%;
    height: 100%;
    flex-grow: 1;
    border: 1px solid grey;
    background-color: #f5f5f5d2;
}
#left-container ol{
    list-style-type: none;
    line-height: 1.6;
}
#left-container ol li{
    margin: 10px 0;
}
#left-container a{
    color: #333;
    text-decoration: none;
}
#left-container a:hover{
    text-decoration: underline;
    color: #0078ff;
}
#right-container{
    width: 80%;
    flex-grow: 1;
    height: 100%;
    background-color: #ffffff;
    border: 1px solid grey;
}
#right-container h3{
    padding: 10px;
}
footer{
    text-align: center;
    padding: 20px;
}
@media (max-width:768px){
    #container{
        flex-direction: column;
    }
    #left-container, #right-container{
        width: 100%;
    }
}